<!DOCTYPE html>
<html>
  <body>
    <h1 class="edit">Editing Book</h1>
    <%= form_for @book do |f| %>
        <% if @book.errors.any? %>
          <h3><%= @book.errors.count %>error prohibited this book from being saved:</h3>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>

      <p>Title</p>
      <%= f.text_field :title %>

      <p>Body</p>
      <%= f.text_area :body %>

      <br><%= f.submit 'Update Book' %></br>

    <% end %>

    <div class="style"><%= link_to "Show", book_path(@book.id) %></div>
    <div class="style">|</div>
    <div class="style"><%= link_to "Back", books_path %></div>
  </body>
</html>
