<!DOCTYPE html>
<html>
  <body>
    <%= flash[:notice] %>
    <table>
      <tr>
        <th>Title:</th>
        <td><%= @book.title %></td>
      </tr>

      <tr>
        <th>Body:</th>
        <td><%= @book.body %></td>
      </tr>
    </table>


    <p><%= link_to "Edit", edit_book_path(@book.id) %></p>

    <p><%= link_to "Back", '/books' %></p>
  </body>
</html>




