<!DOCTYPE html>
<html>
  <body>
    <p class="flash"><%= flash[:notice] %></p>
    <table class="show">
      <tr>
        <th class="show-th">Title:</th>
        <td class="show-td"><%= @book.title %></td>
      </tr>

      <tr>
        <th class="show-th">Body:</th>
        <td class="show-td"><%= @book.body %></td>
      </tr>
    </table>


    <div class="style"><%= link_to "Edit", edit_book_path(@book.id) %></div>
    <div class="style">|</div>
    <div class="style"><%= link_to "Back", '/books' %></div>
  </body>
</html>




